body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

body,
.snake {
    background-color: #010a11;
}
.enemy {
    background-color: #010a11;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 20px;
    background-color: #052034;
}

.game-border-1 {
    border: #6aecff dotted 5px;
}

#instruction-text {
    position: absolute;
    top: 60%;
    color: #6aecff;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
  }
  
.scores {
display: flex;
justify-content: space-between;
}

#score {
color: #6aecff;
}

#score,
#highScore {
font-size: 40px;
font-weight: bolder;
margin: 10px 0;
}

#highScore {
color: #6aecff;
display: none;
}

.snake {
  border: #6aecff 5px dashed;
  border-radius: 4px;
}

.enemy {
  border: #ff3e11 5px dashed;
  border-radius: 4px;
}

.food {
  background-color: #ff8111;
}